# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://nghiapt13:hLWsfp9wQg5B@ep-ancient-frost-89097806-pooler.ap-southeast-1.aws.neon.tech/auth-db?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://nghiapt13:hLWsfp9wQg5B@ep-ancient-frost-89097806.ap-southeast-1.aws.neon.tech/auth-db?sslmode=require"

AUTH_SECRET = "be897017d447d6e3f3132f6b53b141c9"
GITHUB_CLIENT_ID=94c2fb192517c529ed32
GITHUB_CLIENT_SECRET=530d5912b90f737564c6377dfed1d4076fad9320
GOOGLE_CLIENT_ID=652295419151-932nrrlgnuoqbcvkp1l5mbner894dspq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

RESEND_API_KEY=re_29qirisW_59SRYM5UjGyHnzr76djoYk81